body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background: #ffd654;
}

span.back-button, span.close-button {
  cursor: pointer;
}


.percent {
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-container {

  display: table;
  width : 100%;
}

.nav-container > .back-button {
  display: table-cell;
}

.nav-container > .close-button {
  text-align: right;
}

button {
 background: #ffd654;
}

.question {
    line-height: 1.2;
    /* font-family: pier_sansbold; */
    font-weight: 900;
    letter-spacing: .03em;
    /*font-size: calc(28px + 30 * ((100vw - 520px)/ 920));    */
}

input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  width: 350px;
}

textarea {
  width: 500px;
  height: 200px;
}

.smallprint {
  font-size: smaller;
}
/*
ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
*/